body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

#mapa { width: 90%; height: 400px;}
#trajeto-texto { width: 62%; height: 185px; }
.result{border:1px solid #ededed;}
table.adp-directions{display:none;}
.adp-marker,.adp-text{display:none;}
div[jsaction='directionsPanel.selectLeg']{
	display:none;
}
span[jstcache='25']{
	display:none;
}

span[jstcache='26']{
	display:none;
}